<style>
  .woe-container h4 {
    font-family: "Corbenr";
    font-size: 25px;
    font-weight: 400;
    letter-spacing:0px;
    color: #f37168;
    text-align: center;
    margin-bottom: 8px;
  }
  .woe-container p {
    font-family: "Manrope";
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    text-align: left;
    font-weight:600;
    margin-bottom:10px;
  }
  .woe-container li {
    font-family: "Manrope";
    font-size: 12px;
    line-height:18px;
    font-style: normal;
    list-style: inside;
    position: relative;
    list-style-position: outside;
    font-weight:500;
    margin-bottom:1.3rem;
  }
  .woe-container li::marker {
    color: #f37168;
    font-size: 16px;
  }
  .hair-fall-div ul::before {
  content: '';
    content: '';
    position: absolute;
    top: 10px;
    left: 3px;
    font-size: 12px;
    width: 1px;
    height: 90%;
    background-color: #f37168;
    color: #f37168;
    transform: translateX(0.5px);
}
 
  
  .hair-fall-img{
    width:100%;
  }
  .hair-fall-div{
    width:100%;
  }
  .hair-fall-div ul{
    padding-left:1rem;
    position: relative;
  }
  .woe-container {
      display: flex;
    flex-direction:column;
      gap: 1rem;
      margin: 1.5rem auto;
    padding:0 15px;
    }
  @media(max-width:348px){
    .woe-container li{
      line-height:20px;
      /* min-height:56px; */
    }
    /* .woe-container li:first-child::before {
      top:20%;
    } */
    .hair-fall-div ul::before {
  content: '';
    content: '';
    position: absolute;
    top: 8px;
    left: 3px;
    font-size: 12px;
    width: 1px;
    height: 88%;
    background-color: #f37168;
    color: #f37168;
    transform: translateX(0.5px);
}
  }
  @media(min-width: 768px) {
    .hair-fall-div ul::before {
  content: '';
    content: '';
    position: absolute;
    top: 8px;
    left: -2px;
    font-size: 12px;
    width: 1px;
    height: 90%;
    background-color: #f37168;
    color: #f37168;
    transform: translateX(0.5px);
}
    .woe-container {
      display: flex;
      flex-direction:row;
      align-items:center;
      gap: 2rem;
      margin: 3.5rem auto;
      padding:0 55px;
    }
    .hair-fall-img{
        width:50%;
      padding-left:2rem;
      }
      .hair-fall-div{
        width:50%;
      }
  .hair-fall-div ul{
        position:relative;
      }
    .hair-fall-div ul li:last-child{
        margin-bottom:0;
      }
    .woe-container h4 {
    font-family: "Corbenr";
    font-size: 32px;
    font-weight: 400;
    letter-spacing:1px;
    color: #f37168;
    text-align: left;
    margin-bottom:16px;
}
    .woe-container p {
    font-size: 18px;
    font-weight:600;
    margin-bottom: 20px;
}
    .woe-container li {
      font-size: 17px;
      font-weight: 500;
      line-height:24px;
      margin-bottom:2rem;
    }
    .woe-container li::marker {
    color: #f37168;
    font-size: 26px;
}
   
  }
</style>
{% if product.metafields.custom.clinical_proof %}
 {% assign slides = product.metafields.custom.woe.value %}
<div class='woe-container ' >
  <img class='hair-fall-img' src='{{ slides.image }}' />
  <div class="hair-fall-div">
  <h4>{{ slides.title }}</h4>
  <p>{{ slides.description }} <br> <br> Try these if you:</p>
  <ul>
    {% for point in slides.bullet_points %}
      <li>{{ point }}</li>
      {% endfor %}
  </ul>
  </div>
</div>
  {% endif %}

{% schema %}
  {
    "name": "Hairfall Woe",
    "settings": [
      {
      "type": "text",
      "id": "heading",
      "label": "heading"
    } ,
      {
      "type": "image_picker",
      "id": "image",
      "label": "hairfall image"
    } ,
      {
      "type": "text",
      "id": "subtitle",
      "label": "Subheading"
    }
    ],
    	"blocks": [
     {
       "name": "List",
       "type": "list",
       "settings": [
         {
           "type": "text",
           "id": "list_item",
           "label": "Hairfall woes"
         } 
       ]
     }
  ] ,
 "presets": [
    {
      "name": "Hairfall Woe",
      "settings": {

      }
  }
 ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %} 